.container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:110px;

    small{
        color: rgb(192, 191, 191);
    }
   
    #form{
        width: 70%;
    }
}

@media screen and (max-width: 760px) {
.container{
    #form{
        width: 95%;
    }
}
}