.list-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px #fff solid;
    margin-top: 2px;
    align-items: center;
    padding: 12px 30px;

    &.correct{

        p{
            padding-left: 5px;
            box-shadow: -10px 0px 0 -3px rgb(69, 204, 69);
        }
    }
    &.incorrect{
        p{
            padding-left: 5px;
            box-shadow: -10px 0px 0 -3px rgb(206, 33, 33);
        }
    }

    button{
        background-color: transparent;
        border: none;
        color: #fff;
        aspect-ratio: 1/1;
        display: flex;
    }

    p{
        position: relative;
        margin: 0;
        cursor: pointer;
        display: flex;

        .exclamation{
            margin-left: 10px;
            color: rgb(250, 51, 51);
            width: min-content;

        }
        
       
    }

    .message-incomplete{
        position: absolute;
        top: 0px;

        transform: translateY(-110%);
        width: 280px;
        text-align: center;
        background-color: gray;
        padding: 3px;
        border-radius: 5px;
        display: none;
    }
}

@media screen and (max-width: 760px) {
    .list-item{
        padding: 12px 10px;
    }
}