.back-button{
    position: absolute;
    top: 110px;
    right: 0px;
    transform: translate(-50%, -30%);
    background-color:#943333;
    border: #fff 2px solid;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
}

@media screen and (max-width: 760px) {
    .back-button{
    transform: translate(-35%, -30%);
    }
}