#background{
    margin: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid #fff;
    background-color: #374A7A;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    position: fixed;
    z-index: 100;


    #link-home{
      color: #fff;
      text-decoration: none;
    }

  
    #text-title{
      font-size: 26px;
      cursor:pointer;
      margin-bottom: 0;
    }
  }
  